package view

templ ModalUser(v *View, m Map) {
	<div class="modal-header">
		<h1 class="modal-title fs-5 text-primary" id="staticBackdropLabel">
			if v.IsURL("user_create") {
				@emoji("👤") {
					Создать пользователя
				}
			} else {
				@emoji("✏️") {
					Изменить пользователя { m.getUser().Email }
				}
			}
		</h1>
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="modal"
			aria-label="Close"
			hx-get={ v.URL("user_list") }
			hx-swap="innerHTML"
			hx-target="#users"
			hx-select="#users"
		></button>
	</div>
}

templ ModalCommonUser(v *View, m Map) {
	<div class="modal-header">
		<h1 class="modal-title fs-5 text-primary" id="staticBackdropLabel">
			@emoji("✏️") {
				{ v.CurrentUser().Email } - редактирование
			}
		</h1>
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="modal"
			aria-label="Close"
		></button>
	</div>
}
