package view

templ authorityField(m Map) {
	<input
		name="authority"
		autocapitalize="none"
		autocomplete="authority"
		class="form-control"
		value={ m.getUser().Authority }
		placeholder
		required
	/>
	<label for="floatingInput">🏢 Округ/ЦОВУ</label>
}

templ unitField(m Map) {
	<input
		name="unit"
		autocapitalize="none"
		autocomplete="unit"
		class="form-control"
		value={ m.getUser().Unit }
		placeholder
		required
	/>
	<label for="floatingInput">🪖 Вч/Военный комиссариат</label>
}

templ passwordConfirmField() {
	<input
		type="password"
		name="password_confirm"
		autocomplete="current-password"
		class="form-control"
		placeholder
		required
	/>
	<label for="floatingPassword">🔏 Подтверждение пароля</label>
}

templ extraStylePassword() {
	<style type="text/css">
	.form-signin input[name="password"] {
	  min-width: 330px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	</style>
}

templ Register(v *View, m Map) {
	@baseAuth("Register") {
		@extraStylePassword()
		@FloatingAlert(m)
		<form
			hx-post={ v.URL("register") }
			hx-push-url={ v.URL("login") }
			hx-swap="outerHTML"
			hx-target="#auth_form"
			hx-select="#auth_form"
			enctype="multipart/form-data"
		>
			<h1 class="h3 mb-3 fw-normal">🆕 Регистрация</h1>
			@formFields(
				emailField(m),
				authorityField(m),
				unitField(m),
				passwordField(),
				passwordConfirmField(),
			)
			<button
				class={ authButtonClass() }
				type="submit"
			>
				👤 Создать
			</button>
		</form>
		@Token(v.CsrfToken())
	}
}
