package view

templ userFormField(label string) {
	<div class="form-floating">
		{ children... }
		<label>{ label }</label>
	</div>
}

templ userFormCheck(label, name  string, checked bool) {
	<div class="form-check form-switch mt-1">
		<input
			class="form-check-input"
			type="checkbox"
			role="switch"
			name={ name }
			value="true"
			if checked {
				checked
			}
		/>
		<label class="form-check-label">{ label }</label>
	</div>
}

templ UserForm(v *View, m Map) {
	@Token(v.CsrfToken())
	<div class="modal-body">
		@Alert(m)
		@userFormField("📧 Email") {
			<input
				name="email"
				value={ m.getUser().Email }
				type="email"
				class="form-control"
				required
				autofocus
				placeholder
			/>
		}
		@userFormField("🔒 Пароль") {
			<input
				name="password"
				type="password"
				class="form-control"
				autocomplete="new-password"
				placeholder
				if m.notUser() {
					required
				}
			/>
		}
		@userFormField("🔏 Подтверждение пароля") {
			<input
				name="password_confirm"
				type="password"
				class="form-control"
				autocomplete="new-password"
				placeholder
				if m.notUser() {
					required
				}
			/>
		}
		@userFormField("🏢 Округ/ЦОВУ") {
			<input
				name="authority"
				value={ m.getUser().Authority }
				class="form-control"
				required
				placeholder
			/>
		}
		@userFormField("🪖 Вч/Военный комиссариат") {
			<input
				name="unit"
				value={ m.getUser().Unit }
				class="form-control"
				required
				placeholder
			/>
		}
		@userFormCheck("👨‍🔧 Администратор","admin",m.getUser().Admin)
		@userFormCheck("✅ Активен","active",m.getUser().Active)
		if !v.IsURL("user_create") {
			<div class="form-text">Оставьте поле с паролем пустыми, если не хотите его менять</div>
		}
		<div class="modal-footer">
			<input
				type="submit"
				class="btn btn-outline-secondary form-control"
				if v.IsURL("user_create") {
					value="🆕 Создать"
				} else {
					value="📝 Изменить"
				}
			/>
		</div>
	</div>
}

templ UserFormCommon(v *View, m Map) {
	@Token(v.CsrfToken())
	<div class="modal-body">
		@Alert(m)
		@userFormField("🔒 Пароль") {
			<input
				name="password"
				type="password"
				class="form-control"
				autocomplete="new-password"
				placeholder
			/>
		}
		@userFormField("🔏 Подтверждение пароля") {
			<input
				name="password_confirm"
				type="password"
				class="form-control"
				autocomplete="new-password"
				placeholder
			/>
		}
		@userFormField("🏢 Округ/ЦОВУ") {
			<input
				name="authority"
				value={ v.CurrentUser().Authority }
				class="form-control"
				placeholder
				required
				autofocus
			/>
		}
		@userFormField("🪖 Войсковая часть") {
			<input
				name="unit"
				value={ v.CurrentUser().Unit }
				class="form-control"
				placeholder
				required
				autofocus
			/>
		}
		<div class="form-text">Оставьте поле с паролем пустыми, если не хотите его менять</div>
		<div class="modal-footer mt-2">
			<input
				type="submit"
				class="btn btn-outline-secondary form-control"
				value="📝 Изменить"
			/>
		</div>
	</div>
}
