package view

templ UserEdit(v *View, m Map) {
	@ModalUser(v,m)
	<form
		hx-put={ v.URLto("user_edit", "id", m.getUser().ID) }
		hx-swap="innerHTML"
		hx-target="#edit_user_content"
		class="form-user"
	>
		@UserForm(v,m)
	</form>
}

templ UserEditCommon(v *View, m Map) {
	@ModalUser(v,m)
	<form
		hx-put={ v.URLto("user_update", "id", m.getUser().ID) }
		hx-swap="innerHTML"
		hx-target="#update_user_content"
		class="form-user"
	>
		@UserFormCommon(v,m)
	</form>
}
