package view

templ userFromField(label string) {
	<div class="mb-1">
		<label>{ label }</label>
		{ children... }
	</div>
}

templ userFormCheck(label, name  string, checked bool) {
	<div class="form-check form-switch mb-1">
		<input
			class="form-check-input"
			type="checkbox"
			role="switch"
			name={ name }
			value="true"
			if checked {
				checked
			}
		/>
		<label class="form-check-label">{ label }</label>
	</div>
}

templ UserForm(v *View, m Map) {
	@Token(v.CsrfToken())
	<div class="modal-body">
		@Alert(m)
		@userFromField("📧 Email") {
			<input
				name="email"
				required
				placeholder="Email"
				value={ m.getUser().Email }
				type="email"
				autofocus
				class="form-control"
			/>
		}
		@userFromField("🔒 Пароль") {
			<input
				name="password"
				type="password"
				value=""
				class="form-control"
				autocomplete="new-password"
				if m.notUser() {
					required
					placeholder="Пароль"
				} else {
					placeholder="Оставьте пустым чтобы не менять пароль"
				}
			/>
		}
		@userFromField("🔏 Подтверждение пароля") {
			<input
				name="password_confirm"
				type="password"
				value=""
				class="form-control"
				autocomplete="new-password"
				if m.notUser() {
					required
					placeholder="Подтверждение пароля"
				} else {
					placeholder="Оставьте пустым чтобы не менять пароль"
				}
			/>
		}
		@userFromField("🏢 Округ/ЦОВУ") {
			<input
				name="authority"
				required
				placeholder="Округ/ЦОВУ"
				value={ m.getUser().Authority }
				autofocus
				class="form-control"
			/>
		}
		@userFromField("🪖 Войсковая часть") {
			<input
				name="unit"
				required
				placeholder="Войсковая часть"
				value={ m.getUser().Unit }
				autofocus
				class="form-control"
			/>
		}
		@userFormCheck("👨‍🔧 Администратор","admin",m.getUser().Admin)
		@userFormCheck("✅ Активен","active",m.getUser().Active)
		<div class="modal-footer">
			<input
				type="submit"
				class="btn btn-outline-secondary form-control"
				if v.IsURL("user_create") {
					value="🆕 Создать"
				} else {
					value="📝 Изменить"
				}
			/>
		</div>
	</div>
}

templ UserFormCommon(v *View, m Map) {
	@Token(v.CsrfToken())
	<div class="modal-body">
		@Alert(m)
		@userFromField("🔒 Пароль") {
			<input
				name="password"
				type="password"
				value=""
				class="form-control"
				autocomplete="new-password"
				placeholder="Оставьте пустым чтобы не менять пароль"
			/>
		}
		@userFromField("🔏 Подтверждение пароля") {
			<input
				name="password_confirm"
				type="password"
				value=""
				class="form-control"
				autocomplete="new-password"
				placeholder="Оставьте пустым чтобы не менять пароль"
			/>
		}
		@userFromField("🏢 Округ/ЦОВУ") {
			<input
				name="authority"
				required
				placeholder="Округ/ЦОВУ"
				value={ v.CurrentUser().Authority }
				autofocus
				class="form-control"
			/>
		}
		@userFromField("🪖 Войсковая часть") {
			<input
				name="unit"
				required
				placeholder="Войсковая часть"
				value={ v.CurrentUser().Unit }
				autofocus
				class="form-control"
			/>
		}
		<div class="modal-footer">
			<input
				type="submit"
				class="btn btn-outline-secondary form-control"
				value="📝 Изменить"
			/>
		</div>
	</div>
}
