package view

templ UserList(v *View, m Map) {
	@BaseContainer("Users",v,m) {
		<div class="row">
			<div class="col">
				<button
					type="button"
					class="btn btn-outline-primary form-control mb-2"
					data-bs-toggle="modal"
					data-bs-target="#create_user"
					hx-get={ v.URL("user_create") }
					hx-swap="innerHTML"
					hx-target="#create_user_content"
				>
					🙍‍♂️ Создать пользователя 
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				@UserContent(v, m)
			</div>
		</div>
		@Modal("create_user")
		@Modal("edit_user")
	}
}
