html,
body {
  height: 100%;
  font-family: 'JetBrains', sans-serif;
}

.emoji {
  font-family: 'Emoji', sans-serif;
}

@font-face {
  font-family: 'Emoji';
  src: url('/static/fonts/NotoEmoji-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains';
  src: url('/static/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

.form-user .form-floating:focus-within,
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-user input[type="email"],
.form-user-update input[name="password"],
.form-signin input[type="email"] {
  min-width: 330px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-user input[name="unit"],
.form-user-update input[name="unit"],
.form-signin input[type="password"],
.form-signin input[name="password_confirm"] {
  min-width: 330px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-user input[name="password"],
.form-user input[name="password_confirm"],
.form-user input[name="authority"],
.form-user-update input[name="password_confirm"],
.form-user-update input[name="authority"],
.form-signin input[name="authority"],
.form-signin input[name="unit"] {
  min-width: 330px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-text {
  margin-left: 10px;
}

.no-wrap {
  white-space: nowrap;
}